<!DOCTYPE html>
<html>
<head>
	<body> 
	</body>
	
	<form action="php/Regcheck.php" method="POST">
				
		<fieldset>
        <legend><b>REGISTRATION</b></legend>
	
		<br/>
             Name</br>
				
				<input type="text" name="Name" ></br>
				Email	</br>		
					<input name="Email" type="email">
					<abbr title="hint: sample@example.com"><b>i</b></abbr></br>
					
				UserName</br>
		         <input type="text" name="UserName" ></br>

		     Passsword</br>
		         <input type="text" name = "Password" ></br>
			    
				
				Confirm Password</br>
				<input type="password" name="ConfirmPassword" >
					
			 
					
				
				</br>Gender</br>
				    <input name="gender" type="radio"  value="Male">Male
				    <input  name="gender" type="radio"  value="Female">Female
					<input  name="gender"  type="radio" value="Other">Other</br>

					Date Of Birth</br>
					   
						    <input type="date" name="date" size="1%"><b>/</b>
		           
					<select name="UserType" >
						<option name="UserType" value="Admin">Admin</option>
						<option name="UserType" value="Instructor">Instructor</option>
						<option name="UserType" value="Learners">Learners</option>
					</select>
						User Type [<i>Admin/Instructor/Learners</i>]</br>
					</br><input type="submit" name="submit" value="Registration">
		     <a href = "login.php">Login</a>	
									
		</fieldset>
	</form>



	</head>
</html>